
.wrapper{
    max-width: 1440px;
}

/* img{
    max-width: 100%;
    max-height: 100%;
} */
header{
    background-image: url(../assets/sw-header.jpg);
    max-width: 1440px;
    max-height: 353px;
}

main{
    background-color: #424242;
    max-width: 1440px;
    max-height: 677px;
}
h1{
    width: 500px;
    height: 143px;
    left: 67px;
    top: 105px;
    font-family: Ropa Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 69px;
    letter-spacing: 0.15em;
    color: #FFD600;
    margin: 0px auto 0px 20px;
    padding-top: 80px;
    padding-bottom: 80px;
}
.card{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.card-1{
    display: flex;
    flex-direction: column;
}

.card-1,.card-2{
    width: 484px;
    height: 624px;
    border-radius: 10px 10px 0px 0px;
    margin-top: -30px;
    margin-bottom: 60px;
}
.card-header{
    background-color: #535556;
    max-height: 60px;
}
h2{
    font-family: Ropa Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.2em;
    color: #FFD600;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0px;
}


.light,li.light2,li.light3{
    background-color: #8E8E8E;
    max-height: 55px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.15em;
    color: #FFFFFF;
}
.dark{
    background-color:  #E1DEDE;
    max-height: 55px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.15em;
    color: #535556;
}
ul{
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;

}
.card-footer{
    background-color: #C4C4C4;
    height: 195px;
}

.card2-header{
    background-color:#748687;
    max-height: 60px;
}

.card2-body{
    background-color: #C4C4C4;
    max-width: 484px;
    height: 179px;
}
.card2-footer{
    max-width: 484px;
    height: 244px;
    background-color: #8E8E8E;
}
.title1{
    margin: 0px auto auto 10px;
    padding-top: 0px;
    max-width: 308px;
    max-height: 40px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
    letter-spacing: 0.2em;
    display: none;
}
.text1{
    margin: 0px;
    padding-left: 10px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    color: #000000;
    display: none;
    
}
.title2{
    margin: 0px auto auto 10px;
    padding-top: 5px;
    max-width: 308px;
    max-height: 40px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    color: #FFFFFF;
    letter-spacing: 0.2em;
    display: none;
}
.text2{
    margin: 0px;
    padding-left: 10px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    color:#FFFFFF;
    padding-bottom: 80px;
    display: none;
}

.light:hover,li.light2:hover,li.light3:hover{
    background-color: #444444;
}
.dark:hover{
    background-color: #444444;
}



.title1.visible,.text1.visible,.title2.visible,.text2.visible {
    display: block;
} 

