
.wrapper{
    max-width: 1440px;
}

/* img{
    max-width: 100%;
    max-height: 100%;
} */
header{
    background-image: url(../assets/sw-header.jpg);
    max-width: 1440px;
    max-height: 353px;
}

main{
    background-color: #424242;
    max-width: 1440px;
    max-height: 677px;
}
h1{
    width: 500px;
    height: 143px;
    left: 67px;
    top: 105px;
    font-family: Ropa Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 69px;
    letter-spacing: 0.15em;
    color: #FFD600;
    margin: 0px auto 0px 20px;
    padding-top: 80px;
    padding-bottom: 80px;
}
.card{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.card-1{
    display: flex;
    flex-direction: column;
}

.card-1,.card-2{
    max-width: 484px;
    max-height: 624px;
    border-radius: 10px 10px 0px 0px;
    margin-top: -30px;
    margin-bottom: 60px;
}
.card-header{
    background-color: #535556;
    max-height: 60px;
}
h2{
    width: 183px;
    height: 31px;
    left: 151px;
    top: 21px;
    font-family: Ropa Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.2em;
    color: #FFD600;
    margin: 5px 20px 5px 20px;
}


.light{
    background-color: #8E8E8E;
    max-height: 55px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.dark{
    background-color:  #E1DEDE;
    max-height: 55px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
ul{
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;

}
.card-footer{
    background-color: #C4C4C4;
    height: 60px;
}

.card2-header{
    background-color:#748687;
    max-height: 60px;
}
h3{
    margin: 0px;
    padding-top: 0px;
    padding-left: 10px;
    width: 308px;
    height: 40px;
    left: 21px;
    top: 13px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 0.2em;
    color: #000000;
}
.card2-body{
    background-color: #C4C4C4;
    max-width: 484px;
    max-height: 550px;
}
.card2-footer{
    max-width:  484px;
    max-height: 287px;
    background-color: #8E8E8E;
}
